.DS_Store

/* api */
/api/.envrc
/api/node_modules

/* web */
/web/.envrc
/web/node_modules
/web/dist

/* android */
/android/**/*.iml
/android/.gradle
/android/local.properties
/android/.idea/workspace.xml
/android/.idea/libraries
/android/build
/android/captures
/android/.externalNativeBuild

/* ios */
