.DS_Store

/* api */
/api/.envrc
/api/node_modules

/* web */
/web/.envrc
/web/node_modules
/web/dist

/* android */
/android/**/*.iml
/android/.gradle
/android/local.properties
/android/.idea/workspace.xml
/android/.idea/libraries
/android/build
/android/captures
/android/.externalNativeBuild
/android/app/src/main/res/values/secrets.xml

/* ios */
/ios/Commonposter/build/
/ios/Commonposter/**/*.pbxuser
/ios/Commonposter/!default.pbxuser
/ios/Commonposter/*.mode1v3
/ios/Commonposter/!default.mode1v3
/ios/Commonposter/**/*.mode2v3
/ios/Commonposter/!default.mode2v3
/ios/Commonposter/*.perspectivev3
/ios/Commonposter/!default.perspectivev3
/ios/Commonposter/xcuserdata
/ios/Commonposter/*.xccheckout
/ios/Commonposter/*.moved-aside
/ios/Commonposter/DerivedData
/ios/Commonposter/*.hmap
/ios/Commonposter/*.ipa
/ios/Commonposter/*.xcuserstate
/ios/Commonposter/Pods/*
/ios/Commonposter/Podfile.lock
/ios/Commonposter/*.swp
/ios/Commonposter/!.gitkeep
